html,body{
  width: 100%;
  margin: 0;
  padding: 0;

}

body{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 0.3%;
  padding: 0;
  margin: 1rem 0 1rem 0;
  background-color: white;
  width: 99%;

  
}

#title{
  color:rgba(255, 0, 0, 0.65);
  align-self: center;
  justify-self: flex-start;
  font-size: 5rem;
  margin-bottom: 0;
}
#img-div{
 
  background-color: black;
  height:100vh;
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: larger;
  color: white;
  padding-bottom: 1rem;

}
#image{
  border-radius: 0.35%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 70%;
  max-width:100%;
  max-height: min-content;
  height:70%;
}

#tribute-info{
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
  padding: 0 1rem 0 1rem;
  background-color: white;
  border: 0.1rem solid rgba(255, 0, 0, 0.65);
  border-bottom: none;
 
}

.side-pics{
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

img{
  width:100%;
  max-width: 100%;
  height: 33.33%;
}

