html, body, section, form, p, img, header, ul, ol, li, div {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  overflow-x: none;
}

body {
  width: 100%;
  overflow-x: none;
  border: blue solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(https://s1.ticketm.net/dam/a/c90/965833d9-2f76-4e79-bd87-f2bc61282c90_1339931_TABLET_LANDSCAPE_LARGE_16_9.jpg);
}

@media (max-width: 800px) {
  body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#navbar {
  background-color: rgba(200, 200, 200, 0.6);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15rem;
          flex: 0 0 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  padding: 0;
  border-right: #0000fa solid;
}

#navbar header {
  font-size: 3em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0;
  margin: 1rem;
}

#navbar ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-size: 1.3em;
}

#navbar li {
  border-top: red solid;
  padding: 1rem;
  text-align: start;
}

#navbar a {
  text-decoration: none;
  color: black;
}

#main-doc {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 2;
      -ms-flex: 2 0 40.1rem;
          flex: 2 0 40.1rem;
  margin: 0;
  padding: 0;
  font-size: 3vw;
}

header {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
}

#footer {
  justify-self: flex-end;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 98vh;
  border-style: dashed;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1;
  /* Firefox */
}

#Section_D {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#todo-form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}

#todo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  background-color: white;
  justify-self: end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  height: 14vh;
}

#myList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: solid green;
  font-size: 2rem;
  list-style: inside;
  overflow-y: scroll;
  width: 100%;
  height: 99%;
}

#myList li {
  height: 100%;
}
/*# sourceMappingURL=styles.css.map */