html,body,section,form,p,img,header,ul,ol,li,div{
  margin:0;
  padding:0;
}

html{
    width: 100%;
      overflow-x: none;
  }
  
  body{  
    width: 100%;
    overflow-x: none;
    border:blue solid;
    display:flex;
    background: url(https://s1.ticketm.net/dam/a/c90/965833d9-2f76-4e79-bd87-f2bc61282c90_1339931_TABLET_LANDSCAPE_LARGE_16_9.jpg);
  }
  @media(max-width:800px){
    body{
      flex-direction:row;
    }
  }
  #navbar{
    background-color: rgba(200,200,200,0.6);
    flex:0 0 15rem;
    display:flex; 
    flex-direction:column;
    align-items:flex-start;
    margin:0;
    padding:0;  
    border-right:rgba(0,0,250,1) solid;
    
  }
  
  #navbar header{
    font-size:3em;
    align-self:center;
    padding:0;
    margin:1rem;
  }
  
  #navbar ul{  
    margin:0;
    padding:0;
    width:100%;
    list-style:none;
    display:flex;
    flex-direction:column;
    align-items:stretch;
    font-size:1.3em;
  }
  
  #navbar li{
    border-top:red solid;
    padding:1rem;
    text-align:start;
  }
  
  #navbar a{
    text-decoration: none;
    color:black;
  }
  
  #main-doc{
    align-self:stretch;
    flex:2 0 40.1rem;
    margin:0;
    padding:0;
    font-size:3vw;
    }
  
    header{
      text-decoration: underline;
      
    }
  
    ul{  
    margin:0;
    padding:0;
    list-style:none;
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:2em;
    }
  
  #footer{
    justify-self:flex-end;
    align-self:flex-start;
    margin-top:98vh;
    border-style:dashed;
  }
  
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:black;
    opacity: 1; /* Firefox */
  }
  
  #Section_D{
    display: flex;
    width:100%;

  }

  #todo-form{
    flex:0 0 70%;
  }

  #todo-list{
    display:flex;
    flex:0 0 30%;
    background-color: white;
    justify-self: end;
    align-self: flex-end;
    justify-content: stretch;
    height: 14vh;
    
  }

  #myList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border:solid green;
    font-size: 2rem;
    list-style: inside;
    overflow-y: scroll;
    width:100%;
    height:99%;
    li{
      height:100%;
      
    }
  }